<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/about.css">
    <title>About</title>
</head>

<body class="body">
    <div class="intro">
        <div class="intro_title"><a class="link link-title" href="/">Hotel TMI</a></div>
    </div>
    
    
<div class="main">
    <div class="main_title">О гостинице</div>
    <p class="main_text"> К услугам гостей отеля TMI 5-звездочные номера, крытый бассейн и фитнес-центр. Он находится в престижном районе Подводной, всего в 250 метрах от роскошной улицы Солнечная.</p>
   <p class="main_text">Просторные и светлые номера с паркетным полом элегантно оформлены в светлых тонах. Они отделаны элементами из высококачественного дерева и кожи. Из них открывается вид на сад, а к услугам гостей кондиционер, телевизор с плоским экраном, мини-бар и DVD-плеер. В собственных ванных комнатах, укомплектованных феном, установлен душ.</p>
    <p class="main_text">Просторные и светлые номера с паркетным полом элегантно оформлены в светлых тонах. Они отделаны элементами из высококачественного дерева и кожи. Из них открывается вид на сад, а к услугам гостей кондиционер, телевизор с плоским экраном, мини-бар и DVD-плеер. В собственных ванных комнатах, укомплектованных феном, установлен душ.</p>
   <p class="main_text">В отеле TMI гости могут посетить изысканный ресторан TMI, который славится современной итальянской кухней и стильной атмосферой. Кроме того, в 5 минутах ходьбы работают самые изысканные рестораны Москвы.После посещения спа-салона и оздоровительного центра гости могут заказать освежающий напиток в баре. Предоставляются услуги массажа, консьержа и химчистки, а также помещения для совещаний и терраса.</p>
</div>
    <div class="nav">
        <div class="nav_up">
            <div class="nav_title"> Рзамещение
                <div ><a class="link" href="/luxewith">Люкс с одноместным размещением</a ></div>
                <div ><a class="link" href="/lux">Люкс с двуместным размещением</a ></div>
                <div ><a class="link" href="/deluxe">Aпартаменты ДеЛюкс</a ></div>
            </div>

            <div class="nav_title">Предоставляемое пространство
                <div ><a class="link" href="/basik">Бассейн</a ></div>
                <div ><a class="link" href="/hall">Банкетный зал</a ></div>
            </div>

            <div class="nav_title"> Рестораны
                <div ><a class="link" href="/veranda">Веранда</a ></div>
                <div ><a class="link" href="/clubbar">Клубный бар</a ></div>
                <div ><a class="link" href="/bar">TMI Restaurant</a ></div>
            </div>

            <div  class="nav_title">
                <div>+79017295584 </div>
                <div>г.Москва, ул Подводная, д63</div>
                <div><a class="link" href="/about">О гостинице</a></div>
            </div>
        </div>
    </div>
</body>
</html>