<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>ADM| EXPERTS | DAB</title>
</head>

<body class="body">
<header class="header">
    <div class="container">
        <div class="logo">DAB Health</div>
        <div class="navigation">
            <a class="nav-element" href="/logout">Выход</a>
        </div>
    </div>
</header>
<div class="container">
    <form class="experts" th:action="@{/admin/add_expert}" method="post">
        <div class="ex-title">Регистрация новых экспертов</div>
        <div class="form-experts">
            <div class="field">
                <input class="input-field" type="text" placeholder="Введите ФИО" name="full_name" >
                <div class="line"></div>
            </div>
            <div class="field">
                <input class="input-field" type="email" placeholder="Введите e-mail" name="email" >
                <div class="line"></div>
            </div>
            <div class="field">
                <input class="input-field" type="password" placeholder="Введите пароль" name="password" >
                <div class="line"></div>
            </div>
        </div>
        <div class="button">
            <button class="submit ex" type="submit">Зарегистрировать</button>
        </div>
    </form>
    <div class="experts">
        <br>
        <div class="button">
            <div><a class="nav-element" href="/admin/userList">Показать пользователей</a></div>
            <div><a class="nav-element" href="/admin/patientList">Показать пациентов</a></div>
            <div><a class="nav-element" href="/admin/adminList">Показать администраторов</a></div>
        </div>
        <div class="ex-title">Таблица экспертов</div>
           <div class="form-experts">
               <div class="field ex">
                   <table>
                       <thead>
                       <tr>
                           <th>ФИО</th>
                           <th>Почта</th>
                           <th>Удаление эксперта</th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr th:each="users: ${experts}">
                           <td th:text="${users.full_name}"></td>
                           <td th:text="${users.username}"></td>
                           <td>
                               <!--<form th:action="@{/admin/deleteUsr/{id}(id=${users.getId()})}" method="post">-->
                               <form th:action="'/admin/deleteExpert/' + ${users.id}" method="post">
                                   <button class="nav-element n" type="submit" >&#10005;</button> <!--крест-->
                               </form>
                           </td>
                       </tr>
                       </tbody>
                   </table>
               </div>
               <div class="line"></div>
           </div>
        <br>
    </div>
</div>
</body>
</html>
