<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>ADM| ADMINS | DAB</title>
</head>

<body class="body">
    
    <header class="header">
        <div class="container">
        <div class="logo">DAB Health</div>
            <div class="navigation">
                <div ><a class="nav-element" href="index.html">Главная</a></div>
                <div ><a class="nav-element" href="contacts.html">Контакты</a></div>
                <div ><a class="nav-element" href="articles.html">Статьи</a></div>

            </div>
        </div>
    </header>
    <div class="container">
     <div class="experts">
        <div class="ex-title">Регистрация новых администраторов</div>
         <div class="form-experts">
                      <div class="field">
                          <input class="input-field" type="text" placeholder="Введите ФИО" name="full_name" >
                        <div class="line"></div>
                    </div>
                    <div class="field">
                        <input class="input-field" type="email" placeholder="Введите e-mail" name="email" >
                        <div class="line"></div>
                    </div>
                    <div class="field">
                        <input class="input-field" type="password" placeholder="Введите пароль" name="password" >
                        <div class="line"></div>
                    </div>
             
         </div>
        <div class="button">
            <button class="submit ex" type="submit">Зарегистрировать</button>
        </div>
    </div> 
   <div class="experts">
       <br>
       <div class="button is">
                <div><a class="nav-element" href="patients.html">Показать пациентов</a></div>
                <div><a class="nav-element" href="users.html">Показать пользователей</a></div>
                <div><a class="nav-element" href="adm2.html">Показать  экспертов</a></div>
         </div>
        <div class="ex-title">Таблица администраторов</div>
         <div class="form-experts">
                    <div class="field ex">
                        <div class="input-field ex" id="fullname">ФИО</div>
                        <div class="input-field ex" id="login">Логин</div>
                        <div class="input-field ex" id="password">Пароль</div>
                        <button>&#10005;</button>                        
                    </div>
                    <div class="line"></div>             
         </div>
         <br>
       
    </div> 
    </div>
</body>
</html>
