<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/basik.css">
    <title>Basik</title>
</head>

<body class="body">
    <div class="intro">
        <div class="intro_title"><a class="link link-title" href="/">Hotel TMI</a></div>
    </div>
<div class="main_title">Бассейн</div>
    <div class="main_basik">
        <div class="picture">
            <img src="img/бассейн.jpg" alt="picture not found" width="100%" height="100%">
             <div class="subpic">
        <div class="minipic"><img src="img/бассейн.jpg" alt="picture not found" width="100%" height="100%"> </div>
        <div class="minipic"><img src="img/бассейн2.jpg" alt="picture not found" width="100%" height="100%"> </div>
        <div class="minipic"><img src="img/бассейн3.jpg" alt="picture not found" width="100%" height="100%"> </div>
       
    </div>
        </div>
        <div class="text">Бассейн в отеле TMI предназначен исключительно для гостей и предлагает несравненный вид на район Подводный. В дополнение к бассейну с подогревом в помещении есть две гидромассажные ванны и две сауны, одна с подогревом, а другая с паром.
        Бассейн в отеле TMI предназначен исключительно для гостей и предлагает несравненный вид на район Подводный. В дополнение к бассейну с подогревом в помещении есть две гидромассажные ванны и две сауны, одна с подогревом, а другая с паром.
        Бассейн в отеле TMI предназначен исключительно для гостей и предлагает несравненный вид на район Подводный. В дополнение к бассейну с подогревом в помещении есть две гидромассажные ванны и две сауны, одна с подогревом, а другая с паром.</div>
    </div>

    <div class="nav">
        <div class="nav_up">
            <div class="nav_title"> Рзамещение
                <div ><a class="link" href="/luxewith">Люкс с одноместным размещением</a ></div>
                <div ><a class="link" href="/lux">Люкс с двуместным размещением</a ></div>
                <div ><a class="link" href="/deluxe">Aпартаменты ДеЛюкс</a ></div>
            </div>

            <div class="nav_title">Предоставляемое пространство
                <div ><a class="link" href="/basik">Бассейн</a ></div>
                <div ><a class="link" href="/hall">Банкетный зал</a ></div>
            </div>

            <div class="nav_title"> Рестораны
                <div ><a class="link" href="/veranda">Веранда</a ></div>
                <div ><a class="link" href="/clubbar">Клубный бар</a ></div>
                <div ><a class="link" href="/bar">TMI Restaurant</a ></div>
            </div>

            <div  class="nav_title">
                <div>+79017295584 </div>
                <div>г.Москва, ул Подводная, д63</div>
                <div><a class="link" href="/about">О гостинице</a></div>
            </div>
        </div>
    </div>
    
</body>
</html>
