<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/deluxe.css">
    <title>DeLuxe</title>
</head>

<body class="body">
    <div class="intro">
        <div class="intro_title"><a class="link link-title" href="/">Hotel TMI</a></div>
    </div>

    <div class="main_basik">
    <div class="picture">
        <img src="img/делюкс11.jpg" alt="picture not found" width="100%" height="100%">
         <div class="subpic">
        <div class="minipic"><img src="img/делюкс11.jpg" alt="picture not found" width="100%" height="100%"> </div>
        <div class="minipic"><img src="img/делюкс2.jpg" alt="picture not found" width="100%" height="100%"> </div>
        <div class="minipic"><img src="img/делюкс3.jpg" alt="picture not found" width="100%" height="100%"> </div>

        </div>
    </div>
        
        <div class="text">
            <div class="main_title">DeLuxe</div>
Сдержанный классический стиль, высокие потолки, итальянская мебель, премиальный текстиль, английская косметика для ванн и современная техника – вы найдете здесь комфорт, полноценный отдых и место для плодотворной работы.<br><br>

Стоимость завтрака "шведский стол" составляет 3 800 рублей на одного человека в день, включая НДС, на ребенка с 6 до 12 лет стоимость 1 900 рублей в день, включая НДС. Бесплатно для детей до 5 лет.</div>
    </div>
    <div class="include">
        <div class="sub-include">
        <div class="iclude-text">В номере:<br>
Бесплатный высокоскоростной Интернет<br>
Станция для приготовления чая и кофе<br>
Кофе-машина Nespresso<br>
Паровой утюг и гладильная доска по запросу<br>
Сейф, вмещающий ноутбук, со встроенным источником питания<br>
Профессиональный фен<br>
Косметическое зеркало<br>
Халат и тапочки<br>
Меню подушек<br>
Бесплатная вода<br>
Свободный вход в TMI Club с бассейном</div>
        <div class="iclude-text">В ванной:<br>
Сантехника Villeroy&#38;Boch<br>
Ванна с душем<br>
Фен<br>
Халаты и полотенца FRETTE<br>
Тапочки<br>
Парфюмерия для ванн PENHALIGON’S<br>
Гигиенические принадлежности<br>
Шнур вызова помощи<br>
Подогреваемые полы<br>
Косметическое зеркало<br>
Весы</div>
        </div>
    
    </div>
    <div class="nav">
        <div class="nav_up">
            <div class="nav_title"> Рзамещение
                <div ><a class="link" href="/luxewith">Люкс с одноместным размещением</a ></div>
                <div ><a class="link" href="/lux">Люкс с двуместным размещением</a ></div>
                <div ><a class="link" href="/deluxe">Aпартаменты ДеЛюкс</a ></div>
            </div>

            <div class="nav_title">Предоставляемое пространство
                <div ><a class="link" href="/basik">Бассейн</a ></div>
                <div ><a class="link" href="/hall">Банкетный зал</a ></div>
            </div>

            <div class="nav_title"> Рестораны
                <div ><a class="link" href="/veranda">Веранда</a ></div>
                <div ><a class="link" href="/clubbar">Клубный бар</a ></div>
                <div ><a class="link" href="/bar">TMI Restaurant</a ></div>
            </div>

            <div  class="nav_title">
                <div>+79017295584 </div>
                <div>г.Москва, ул Подводная, д63</div>
                <div><a class="link" href="/about">О гостинице</a></div>
            </div>
        </div>
    </div>
    
</body>
</html>
