<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/foradm.css">
    <title>ADMIN</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
</head>

<body class="body">
<div class="intro">
    <div class="intro_title">Hotel TMI</div>
</div>

<div class="main">
    <br>
    <div><a class="btn2" href="/admin/sign_up" >Зарегистрировать администратора</a></div>
    <div class="main_title">Заявки на бронирование номера</div>
    <table class="table">
        <thead>
        <tr>
            <th>ФИО</th>
            <th>Телефон</th>
            <th>Почта</th>
            <th>Тип номера</th>
            <th>Номер комнаты</th>
            <th>Дата заезда</th>
            <th>Дата выезда</th>
            <th>Количество гостей</th>
        </tr>
        </thead>
    </table>
</div>

<div class="nav">
    <div class="nav_up">
        <div class="nav_title"> Рзамещение
            <div ><a class="link" href="/luxewith">Люкс с одноместным размещением</a ></div>
            <div ><a class="link" href="/lux">Люкс с двуместным размещением</a ></div>
            <div ><a class="link" href="/deluxe">Aпартаменты ДеЛюкс</a ></div>
        </div>

        <div class="nav_title">Предоставляемое пространство
            <div ><a class="link" href="/basik">Бассейн</a ></div>
            <div ><a class="link" href="/hall">Банкетный зал</a ></div>
        </div>

        <div class="nav_title"> Рестораны
            <div ><a class="link" href="/veranda">Веранда</a ></div>
            <div ><a class="link" href="/clubbar">Клубный бар</a ></div>
            <div ><a class="link" href="/bar">TMI Restaurant</a ></div>
        </div>

        <div  class="nav_title">
            <div>+79017295584 </div>
            <div>г.Москва, ул Подводная, д63</div>
            <div><a class="link" href="/about">О гостинице</a></div>
            <div><a class="btn btn-adm" href="/logout">Выйти</a></div>
        </div>
    </div>
</div>
</body>
</html>