<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>HEART | TEST | DAB</title>
</head>

<body class="body">
    <header class="header">
        <div class="container">
        <div class="logo">DAB Health</div>
            <div class="navigation">
                <div ><a class="nav-element" href="/logout">Выход</a></div>
                <div ><a class="nav-element" href="/">Главная</a></div>
                <div ><a class="nav-element" href="/contacts">Контакты</a></div>
                <div ><a class="nav-element" href="/articles">Статьи</a></div>
            </div>
        </div>
    </header>
    <form class="container" action="/test/heartSurvey" method="post">
        <div class="form-title main">Прохождение тестирования</div>
        <div class="experts">
            <div class="ex-title"> Сердечная боль</div>
            <div class="vivid n" th:if="${param.errorValue}">Нужно отметить все вопросы!</div>
            <div class="survey-cont">
                <div class="questio"> 1. Есть ли при болях чувство жжения?</div>
                <div> <input type="radio" name="question1" value="1">Да</div>
                <div> <input type="radio" name="question1" value="2">Нет</div>
            </div>
                <div class="survey-cont">
                    <div class="questio"> 2. Сопровождается ли сердечная боль отдышкой?</div>
                    <div> <input type="radio" name="question2" value="1">Да</div>
                    <div> <input type="radio" name="question2" value="2">Нет</div>
                </div>
                <div class="survey-cont">
                    <div class="questio"> 3. Сопровождается ли сердечная боль учащенным сердцебиением?</div>
                    <div> <input type="radio" name="question3" value="1">Да</div>
                    <div> <input type="radio" name="question3" value="2">Нет</div>
                </div>
            <div class="button">
                <button class="submit ex" type="submit">Ответить</button>
                <div><a class="nav-element" href="/test">К выбору теста</a></div>
        </div>
        </div>
    </form>
</body>
</html>