<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>ADM| PATIENTS | DAB</title>
</head>

<body class="body">
    
    <header class="header">
        <div class="container">
        <div class="logo">DAB Health</div>
            <div class="navigation">
                <a class="nav-element" href="/logout">Выход</a>
            </div>
        </div>
    </header>
    <div class="container">
    <div class="experts">
        <br>
        <div class="button">
                <div><a class="nav-element" href="/admin/expertList">Показать экспертов</a></div>
                <div><a class="nav-element" href="/admin/userList">Показать пользователей</a></div>
                <div><a class="nav-element" href="/admin/adminList">Показать администраторов</a></div>
        </div>
        <div class="ex-title">Таблица пациентов</div>
         <div class="form-experts">
             <div class="field ex">
                 <table>
                     <thead>
                     <tr>
                         <th>ФИО</th>
                         <th>Почта</th>
                         <th>Удаление пациента</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr th:each="users: ${patients}">
                         <td th:text="${users.full_name}"></td>
                         <td th:text="${users.username}"></td>
                         <td>
                             <!--<form th:action="@{/admin/deleteUsr/{id}(id=${users.getId()})}" method="post">-->
                             <form th:action="'/admin/deletePatient/' + ${users.id}" method="post">
                                 <button class="nav-element n" type="submit" >&#10005;</button> <!--крест-->
                             </form>
                         </td>
                     </tr>
                     </tbody>
                 </table>
             </div>
             <div class="line"></div>
         </div>
         <br>
    </div> 
    </div>
</body>
</html>
