<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>PROFILE | DAB</title>
</head>

<body class="body">
    
    <header class="header">
        <div class="container">
        <div class="logo">DAB Health</div>
            <div class="navigation">
                <div ><a class="nav-element" href="index.html">Главная</a></div>
                <div ><a class="nav-element" href="contacts.html">Контакты</a></div>
                <div ><a class="nav-element" href="articles.html">Статьи</a></div>
            </div>
        </div>
    </header>
    <div class="modal">
    <div class="modal-content">
        <form class="form" method="post" action="sign_up.php">
            <div class="form-cont">
                <div class="form-title">Ваша медицинская карта</div>
                <div class="form-container">
                    <div class="field">
                        <div > Ваше ФИО</div>
                        <!--<input class="input-field" type="text" placeholder="Введите полное имя" name="full_name" >-->
                        <div class="line"></div>
                    </div>
                    <div class="field">
                        <div > Ваше Диагнозы</div>
                        <!--<input class="input-field" type="text" placeholder="Введите полное имя" name="full_name" >-->
                        <div class="line"></div>
                    </div>
                    <div class="field">
                        <div > Ваши Рецепты</div>
                        <!--<input class="input-field" type="text" placeholder="Введите полное имя" name="full_name" >-->
                        <div class="line"></div>
                    </div>
                </div>
               

            </div>
        </form>
        </div>
    
    </div>
</body>
</html>