<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>STOMAC | TEST | DAB</title>
</head>

<body class="body">
    <header class="header">
        <div class="container">
        <div class="logo">DAB Health</div>
            <div class="navigation">
                <div ><a class="nav-element" href="sign_in.html">Вход</a></div>
                <div ><a class="nav-element" href="index.html">Главная</a></div>
                 <div ><a class="nav-element" href="profile.html">Мед карта</a></div>
                <div ><a class="nav-element" href="contacts.html">Контакты</a></div>
                <div ><a class="nav-element" href="articles.html">Статьи</a></div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="form-title main">Прохождение тестирования</div>
        <div class="experts">
        <div class="ex-title"> Боль в желудке</div>
        <div class="survey-cont">
                <div class="questio"> 1. В каком месте испытываете боли?</div>
                <div><input type="radio" name="questions9" value="1">Эпигастральная область </div>
                <div> <input type="radio" name="questions9" value="2">Правая подвздошная область</div>
                <div> <input type="radio" name="questions9" value="3">Левая подвздошная область</div>
        </div>
            <div class="survey-cont">
                <div class="questio"> 2.Связана ли боль с приемом пищи?</div>
                <div> <input type="radio" name="questions10" value="1">Да, во время приема пищи</div>
                <div> <input type="radio" name="questions10" value="2">Да, после приема пищи</div>
                <div> <input type="radio" name="questions10" value="3">Да, на голодный желудок</div>
                <div> <input type="radio" name="questions10" value="4">Нет</div>
            </div>
            <div class="survey-cont">
                <div class="questio"> 3. Сопровождается ли боль запорами?</div>
                <div> <input type="radio" name="questions11" value="1">Да</div>
                <div> <input type="radio" name="questions11" value="2">Нет</div>
            </div>
            <div class="survey-cont">
                <div class="questio">4. Есть ли у вас изжога?</div>
                <div> <input type="radio" name="questions12" value="1">Да</div>
                <div> <input type="radio" name="questions12" value="2">Нет</div>
            </div>
        <div class="button">
                <button class="submit ex" type="submit">Ответить</button>
                <div><a class="nav-element" href="test.html">К началу теста</a></div>
        </div>
        </div> 
       
        
         
    </div>
    
   
</body>
</html>