<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>BACK | TEST | DAB</title>
</head>

<body class="body">
    
    <header class="header">
        <div class="container">
        <div class="logo">DAB Health</div>
            <div class="navigation">
                <div ><a class="nav-element" href="sign_in.html">Вход</a></div>
                <div ><a class="nav-element" href="index.html">Главная</a></div>
                 <div ><a class="nav-element" href="profile.html">Мед карта</a></div>
                <div ><a class="nav-element" href="contacts.html">Контакты</a></div>
                <div ><a class="nav-element" href="articles.html">Статьи</a></div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="form-title main">Прохождение тестирования</div>
        <div class="experts">
        <div class="ex-title"> Спинная боль</div>
        <div class="survey-cont">
                <div class="questio"> 1. В какой области испытываете боли?</div>
                <div> <input type="radio" name="questions5" value="1">Поясница</div>
                <div> <input type="radio" name="questions5" value="2">Шейный отдел</div>
                <div> <input type="radio" name="questions5" value="3">Грудной отдел</div>
                <div> <input type="radio" name="questions5" value="3">Копчик</div>
        </div>
            <div class="survey-cont">
                <div class="questio"> 2. Связана ли боль с поднятием тяжестей или чрезмерной физической нагрузкой?</div>
                <div> <input type="radio" name="questions6" value="1">Да</div>
                <div> <input type="radio" name="questions6" value="2">Нет</div>
            </div>
            <div class="survey-cont">
                <div class="questio"> 3. Каков ваш образ жизни?</div>
                <div> <input type="radio" name="questions7" value="1">Офисная работа, я много сижу за компьютером </div>
                <div> <input type="radio" name="questions7" value="2">Активная работа, требующая поднятия тяжестей</div>
                <div> <input type="radio" name="questions7" value="3">Активная работа, не требующая поднятия тяжестей</div>
            </div>
            <div class="survey-cont">
                <div class="questio">4. Есть ли у вас прогиб в…</div>
                <div> <input type="radio" name="questions8" value="1">Пояснице</div>
                <div> <input type="radio" name="questions8" value="2">Шейном отделе </div>
            </div>
        <div class="button">
                <button class="submit ex" type="submit">Ответить</button>
                <div><a class="nav-element" href="test.html">К началу теста</a></div>
        </div>
        </div> 
       
        
         
    </div>
    
   
</body>
</html>