<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>HEAD| TEST | DAB</title>
</head>

<body class="body">
    
    <header class="header">
        <div class="container">
        <div class="logo">DAB Health</div>
            <div class="navigation">
                <div ><a class="nav-element" href="sign_in.html">Вход</a></div>
                <div ><a class="nav-element" href="index.html">Главная</a></div>
                 <div ><a class="nav-element" href="profile.html">Мед карта</a></div>
                <div ><a class="nav-element" href="contacts.html">Контакты</a></div>
                <div ><a class="nav-element" href="articles.html">Статьи</a></div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="form-title main">Прохождение тестирования</div>
        <div class="experts">
        <div class="ex-title"> Головная боль</div>
        <div class="survey-cont">
                <div class="questio">  1.Как часто болит голова?</div>
                <div> <input type="radio" name="questions1" value="1">Ежедневно</div>
                <div> <input type="radio" name="questions1" value="2">Раз в неделю или реже</div>
                <div> <input type="radio" name="questions1" value="3">Иногда, после психоэмоционального напряжения</div>
        </div>
            <div class="survey-cont">
                <div class="questio"> 2. В какой области испытываете боль</div>
                <div> <input type="radio" name="questions2" value="1">Лобная область</div>
                <div> <input type="radio" name="questions2" value="2">Теменная область</div>
                <div> <input type="radio" name="questions2" value="3">Височная</div>
            </div>
            <div class="survey-cont">
                <div class="questio"> 3. Какова характер боли? </div>
                <div> <input type="radio" name="questions3" value="1">Пульсирующая боль </div>
                <div> <input type="radio" name="questions3" value="2">Локализованная боль </div>
                <div> <input type="radio" name="questions3" value="3">Диффузная боль</div>
            </div>
            <div class="survey-cont">
                <div class="questio">4. Отмечалось ли у вас когда-либо повышенное давление?</div>
                <div> <input type="radio" name="questions4" value="1">Да</div>
                <div> <input type="radio" name="questions4" value="2">Нет </div>
            </div>
        <div class="button">
                <button class="submit ex" type="submit">Ответить</button>
                <div><a class="nav-element" href="test.html">К началу теста</a></div>
        </div>
        </div> 
       
        
         
    </div>
    
   
</body>
</html>