<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <title>HEART | TEST | DAB</title>
</head>

<body class="body">
    <header class="header">
        <div class="container">
        <div class="logo">DAB Health</div>
            <div class="navigation">
                <div ><a class="nav-element" href="sign_in.html">Вход</a></div>
                <div ><a class="nav-element" href="index.html">Главная</a></div>
                 <div ><a class="nav-element" href="profile.html">Мед карта</a></div>
                <div ><a class="nav-element" href="contacts.html">Контакты</a></div>
                <div ><a class="nav-element" href="articles.html">Статьи</a></div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="form-title main">Прохождение тестирования</div>
        <div class="experts">
        <div class="ex-title"> Сердечная боль</div>
        <div class="survey-cont">
                <div class="questio"> 1. Есть ли при болях чувство жжения?</div>
                <div> <input type="radio" name="questions13" value="1">Да</div>
                <div> <input type="radio" name="questions13" value="2">Нет</div>
        </div>
            <div class="survey-cont">
                <div class="questio"> 2. Сопровождается ли сердечная боль отдышкой?</div>
                <div> <input type="radio" name="questions14" value="1">Да</div>
                <div> <input type="radio" name="questions14" value="2">Нет</div>
            </div>
            <div class="survey-cont">
                <div class="questio"> 3. Сопровождается ли сердечная боль учащенным сердцебиением?</div>
                <div> <input type="radio" name="questions15" value="1">Да</div>
                <div> <input type="radio" name="questions15" value="2">Нет</div>
            </div>
        <div class="button">
                <button class="submit ex" type="submit">Ответить</button>
                <div><a class="nav-element" href="test.html">К началу теста</a></div>
        </div>
        </div> 
       
        
         
    </div>
    
   
</body>
</html>