<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/veranda.css">
    <title>Veranda</title>
</head>

<body class="body">
    <div class="intro">
        <div class="intro_title"><a class="link link-title" href="/">Hotel TMI</a></div>
    </div>
<div class="main_title">Веранда</div>
    <div class="main_basik">
    <div class="picture">
        <img src="/img/веранда2.jpg" alt="picture not found" width="100%" height="100%">
         <div class="subpic">
        <div class="minipic"><img src="/img/веранда2.jpg" alt="picture not found" width="100%" height="100%"> </div>
        <div class="minipic"><img src="/img/веранда.jpg" alt="picture not found" width="100%" height="100%"> </div>
        <div class="minipic"><img src="/img/веранда3.jpg" alt="picture not found" width="100%" height="100%"> </div>

        </div>
    </div>
        <div class="text">Основной ресторан гостиницы на всю Москву славится изобильными завтраками. Можно расположиться в уютной глубине светлого зала или выбрать столик на открытой галерее с видом на центральный холл с огромными окнами.
            Кухня: русская, международная.<br>
            Завтрак для гостей подаётся: с 6-30  до 11-00.<br>
            Обед для гостей доступен с 11-00 до 17-00(Самые вкусные ланчи в Москве)<br>
            Ужин в нашем заведении также доступен на веранде с 17-00 до позднего вечера с прекрасным видом на ночную Москву-реку.
            Также предоставляются удобные пуфики для более комфортоного времяпровождения в нашем заведении.
        </div>
    </div>
    <div class="nav">
        <div class="nav_up">
            <div class="nav_title"> Рзамещение
                <div ><a class="link" href="/luxewith">Люкс с одноместным размещением</a ></div>
                <div ><a class="link" href="/lux">Люкс с двуместным размещением</a ></div>
                <div ><a class="link" href="/deluxe">Aпартаменты ДеЛюкс</a ></div>
            </div>

            <div class="nav_title">Предоставляемое пространство
                <div ><a class="link" href="/basik">Бассейн</a ></div>
                <div ><a class="link" href="/hall">Банкетный зал</a ></div>
            </div>

            <div class="nav_title"> Рестораны
                <div ><a class="link" href="/veranda">Веранда</a ></div>
                <div ><a class="link" href="/clubbar">Клубный бар</a ></div>
                <div ><a class="link" href="/bar">TMI Restaurant</a ></div>
            </div>

            <div  class="nav_title">
                <div>+79017295584 </div>
                <div>г.Москва, ул Подводная, д63</div>
                <div><a class="link" href="/about">О гостинице</a></div>
            </div>
        </div>
    </div>
    
</body>
</html>
